.container{
    min-height: calc(100vh - 157px);
}

.titulo{
    margin: 1rem;
}

.subTitulo{
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 0 2rem;
}

.subTituloDesativado{
    align-items: center;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 0 2rem;
}

.item{
    padding: 0 1rem;
}

.dados{
    display: flex;
    align-items: center;
}

.botaoDesativar{
    background: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: .7rem;

    &:hover{
        cursor: pointer;
        background: rgba(255, 0, 0, 0.656);
    }
}

.botaoAtivar{
    background: rgb(4, 152, 80);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: .7rem;

    &:hover{
        cursor: pointer;
        background: rgba(4, 152, 80, 0.656);
    }
}

.botaoAdicionar{
    background: rgb(4, 152, 80);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left: 3.7rem;
    padding: .7rem;

    &:hover{
        cursor: pointer;
        background: rgba(4, 152, 80, 0.656);
    }
}

.load{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 2rem;

}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #5449d2;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 